{% extends 'home/base.html' %}

{% block title %}Register{% endblock %}

{% block content %}

<body class="form-body">
    <div class="register-container">
        <h2>Cadastro de Usuário</h2>
        <form action="{% url 'add_user' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="full-name">Nome Completo:</label>
                <input type="text" id="full-name" name="full_name" required>
            </div>
            <div class="form-group">
                <label for="username">Usuário:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="password">Senha:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="form-group">
                <label for="confirm-password">Confirmar Senha:</label>
                <input type="password" id="confirm-password" name="confirm_password" required>
            </div>
            <div class="form-group">
                <label for="group">Grupo</label>
                <select id="group" name="group" required>
                    <option value="">Selecione um grupo</option>
                    {% for group in groups %}
                        <option value="{{ group.name }}">{{ group.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="register-button">Cadastrar</button>
        </form>
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>
</body>
{% endblock %}

