
{% include 'home/sidebar.html' %}

<main>
    <div class="container">
        <h2>Hello World</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur doloribus incidunt sunt adipisci harum. Exercitationem voluptatibus eius ab perferendis et nesciunt tempora, reiciendis dolor illo, possimus nemo sequi maiores quae!</p>
    </div>
    <div class="container">
        <h2>Example Heading</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur doloribus incidunt sunt adipisci harum. Exercitationem voluptatibus eius ab perferendis et nesciunt tempora, reiciendis dolor illo, possimus nemo sequi maiores quae!</p>
    </div>
    <div class="container">
        <h2>Lorem Ipsum</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur doloribus incidunt sunt adipisci harum. Exercitationem voluptatibus eius ab perferendis et nesciunt tempora, reiciendis dolor illo, possimus nemo sequi maiores quae!</p>
    </div>
</main>
